<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ category.title }}</h1>

<ul>
{% for item in category.item_set.all %}
<li>{{ item.price }} - {{ item.title }}</li>
{% endfor %}
</ul>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'shop:add_item' category.pk %}" method="post">
{% csrf_token %}
    <label for="title">Название:</label><input name="title" id="title" value="" /><br />
    <label for="price">Цена:</label><input name="price" id="price" value="" /><br />
<input type="submit" value="Add" />
</form>


<a href="{% url 'shop:index' %}">back</a>
</body>
</html>